# Latex output
*.out
*.log
*.aux
*.toc
*.fls
*.md5
*.bbl
*.blg
*.fdb_latexmk
*.makefile
*.dep
*.dpth
article-figure*
*.bcf
*.figlist
*.run.xml

# Lammps output
log.lammps
*.lammpstrj

# Python cahcne
*.ipynb_checkpoints
__pycache__
